
div{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 2px solid black;
}

/*多行选中与不选快捷键: Alt + Shift + 鼠标左键*/
div#div2{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

div.div-test1{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
















