/*
水平居中

子元素为行内元素还是块状元素，宽度一定还是宽度未定，采取的布局方案不同。下面进行分析：

不定宽块状元素: 设置子元素为display:inline,然后在父元素上设置text-align:center;
行内元素：对父元素设置text-align:center;
定宽块状元素: 设置左右margin值为auto;
通用方案: flex布局，对父元素设置display:flex;justify-content:center;
*/


/*不定宽块状元素: 设置子元素为display:inline,然后在父元素上设置text-align:center;*/
.parent1{
    margin-top: 20px;
    height: 200px;
    background-color: antiquewhite;
    border: 2px inset blue;

    text-align: center;
}
.child1{
    height: 100px;
    background-color: aqua;
    border: 2px inset yellow;

    display: inline;
}

/*行内元素：对父元素设置text-align:center;*/
.parent2{
    height: 200px;
    background-color: antiquewhite;
    border: 2px inset blue;

    text-align: center;
}
.child2{
    height: 100px;
    background-color: aqua;
    border: 2px inset yellow;

    /*display: inline;*/
}

.parent3{
    margin-top: 20px;
    height: 200px;
    background-color: antiquewhite;
    border: 2px inset blue;

    /*text-align: center;*/
}
.child3{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px inset yellow;

    margin-left: auto;
    margin-right: auto;
}

/*通用方案: flex布局，对父元素设置display:flex;justify-content:center;*/
.parent4{
    margin-top: 20px;
    height: 200px;
    background-color: antiquewhite;
    border: 2px inset blue;

    display: flex;
    justify-content: center;
}
.child4{
    /*margin-top: 20px;*/
    /*width: 100px;*/
    height: 100px;
    background-color: aqua;
    border: 2px inset yellow;

}

/*
垂直居中

垂直居中对于子元素是单行内联文本、多行内联文本以及块状元素采用的方案是不同的。

父元素一定，子元素为单行内联文本：设置父元素的height等于行高line-height
父元素一定，子元素为多行内联文本：设置父元素的display:table-cell或inline-block，再设置vertical-align:middle;
// 块状元素:设置子元素position:fixed（absolute），然后设置margin:auto;
通用方案: flex布局，给父元素设置{display:flex; align-items:center;}。
*/

/* 父元素一定，子元素为单行内联文本：设置父元素的height等于行高line-height */
.parent5{
    margin-top: 20px;
    background-color: antiquewhite;
    border: 2px inset blue;

    line-height: 60px;
    height: 60px;
}
.child5{
    /*margin-top: 20px;*/
    /*width: 100px;*/
    /*height: 100px;*/
    background-color: aqua;
    border: 2px inset yellow;

}

/* 父元素一定，子元素为多行内联文本：设置父元素的display:table-cell或inline-block，再设置vertical-align:middle; */
.parent6{
    margin-top: 20px;
    background-color: antiquewhite;
    border: 2px inset blue;
    height: 60px;

    display: table-cell;
    vertical-align: middle;
}
.child6{
    /*margin-top: 20px;*/
    /*width: 100px;*/
    /*height: 100px;*/
    background-color: aqua;
    border: 2px inset yellow;

}

/* 通用方案: flex布局，给父元素设置{display:flex; align-items:center;}。 */
.parent7{
    margin-top: 20px;
    background-color: antiquewhite;
    border: 2px inset blue;
    height: 60px;

    display: flex;
    align-items: center;
}
.child7{
    /*margin-top: 20px;*/
    /*width: 100px;*/
    /*height: 100px;*/
    background-color: aqua;
    border: 2px inset yellow;

}









